body {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.content {
    text-align: center;
}
.content div {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 80px;
text-shadow: 1px 1px 1px rgba(255,255,255,0.25);
    -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
    color: transparent;
    margin-bottom: 24px;
    background-color: #333;
}
.content a {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    background: #fff;
    padding: 8px 16px;
    color: black;
}
      